@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Inter, sans-serif;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

html {
  color-scheme: dark;
}

body {
  overflow-x: hidden;
  color: white;
  background: #171717;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.collapse:not(td):not(tr):not(colgroup) {
  @apply visible;
}

.collapse {
  @apply relative grid overflow-hidden;
  grid-template-rows: auto 0fr;
  transition: grid-template-rows 0.2s;
}

.collapse-title,
.collapse > input[type="checkbox"],
.collapse > input[type="radio"],
.collapse-content {
  @apply col-start-1 row-start-1;
}

.collapse > input[type="checkbox"],
.collapse > input[type="radio"] {
  @apply appearance-none opacity-0;
}

.collapse-content {
  @apply invisible col-start-1 row-start-2 min-h-0;
  transition: visibility 0.2s;
}

.collapse[open],
.collapse-open,
.collapse:focus:not(.collapse-close) {
  grid-template-rows: auto 1fr;
}

.collapse:not(.collapse-close):has(> input[type="checkbox"]:checked),
.collapse:not(.collapse-close):has(> input[type="radio"]:checked) {
  grid-template-rows: auto 1fr;
}

.collapse[open] > .collapse-content,
.collapse-open > .collapse-content,
.collapse:focus:not(.collapse-close) > .collapse-content,
.collapse:not(.collapse-close)
  > input[type="checkbox"]:checked
  ~ .collapse-content,
.collapse:not(.collapse-close)
  > input[type="radio"]:checked
  ~ .collapse-content {
  @apply visible min-h-fit;
}

.collapse-plus > .collapse-title:after {
  @apply absolute block h-2 w-2 transition-all duration-300 ease-out;
  top: 0.9rem;
  inset-inline-end: 1.4rem;
  content: "+";
  pointer-events: none;
}

.collapse[open].collapse-plus > .collapse-title:after,
.collapse-open.collapse-plus > .collapse-title:after,
.collapse-plus:focus:not(.collapse-close) > .collapse-title:after,
.collapse-plus:not(.collapse-close)
  > input[type="checkbox"]:checked
  ~ .collapse-title:after,
.collapse-plus:not(.collapse-close)
  > input[type="radio"]:checked
  ~ .collapse-title:after {
  content: "−";
}
