.projects {
  margin-bottom: 100px;
  height: 100vh !important;
}
.project-content {
  margin-left: 20vw;
  margin-right: 20vw;
}

.project-cards {
  display: flex;
  gap: 20px;
}

.orgs {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
}

@media only screen and (max-width: 600px) {
  .projects {
    height: auto !important;
  }
  // .project-content {
  //   height: 1000px;
  // }

  .project-cards {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    // overflow: scroll;
  }

  .orgs {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    // overflow: scroll;
  }
}
